h4 {
  font-size: 1.1rem;
  padding-top: 10px;
  color: white;
}
span {
  color: grey;
}
.bg-main {
  background-color: #213344;
}
.card {
  background-color: #344250;
  height: 370px;
  border-radius: 0;
}
